{% extends "_base.html" %}
{% block title %}Home{% endblock title %}

{% block content %}
<style>
    .row {
        margin-left: 100px; /* Remove row margin */
    }

    .col-md-6 {
        padding: 0; /* Remove column padding for full width */
    }

    .full-height-map, .full-height {
        height: 100vh; /* Use full height within the viewport */
    }

    .full-height-map {
        overflow: hidden; /* Prevent overflow */
    }

    .full-height {
        overflow-y: auto; /* Add scrolling if needed for content overflow */
        padding-left: 30px; /* Adjust padding for a cleaner look */
    }

    @media (max-width: 768px) {
        .full-height-map, .full-height {
            height: auto; /* Auto height for smaller screens */
            border-right: none;
            border-bottom: 1px solid #ddd; /* Add separation for stacked layout */
        }
    }
</style>

<div class="row">
    <!-- Left Column (Map) -->
    <div class="col-md-7 col-sm-12 full-height-map">
        {% include 'Map.html' %}
    </div>

    <!-- Right Column (Sensor View) -->
    <div class="col-md-5 col-sm-12 full-height">
        {% include 'SensorView.html' %}
    </div>
</div>
<div id="heat-index-legend" style="width: 30%; margin: 0 auto; padding-bottom: 10px;">
    <h3 class="text-center">Heat Index Legend</h3>
    <table style="margin: 0 auto; width: 100%; border-collapse: collapse;">
        <tr>
            <td style="background-color: red; width: 20px; height: 20px; border: 1px solid black;"></td>
            <td style="text-align: left; padding-left: 10px;">Extreme Danger: Heat index > 54°C</td>
        </tr>
        <tr>
            <td style="background-color: orange; width: 20px; height: 20px; border: 1px solid black;"></td>
            <td style="text-align: left; padding-left: 10px;">Danger: Heat index 41°C - 54°C</td>
        </tr>
        <tr>
            <td style="background-color: yellow; width: 20px; height: 20px; border: 1px solid black;"></td>
            <td style="text-align: left; padding-left: 10px;">Extreme Caution: Heat index 32°C - 41°C</td>
        </tr>
        <tr>
            <td style="background-color: #73c5c5; width: 20px; height: 20px; border: 1px solid black;"></td>
            <td style="text-align: left; padding-left: 10px;">Caution: Heat index 27°C - 32°C</td>
        </tr>
        <tr>
            <td style="background-color: white; width: 20px; height: 20px; border: 1px solid black;"></td>
            <td style="text-align: left; padding-left: 10px;">Safe: Heat index < 27°C</td>
        </tr>
    </table>
</div>
{% include 'Faq.html' %}
{% include 'Media.html' %}
{% include 'Resource.html' %}

{% endblock content %}
